@import url('https://fonts.google.com/css?family=Raleway');
@import url('https://fonts.google.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("./military-planning-01.jpg");
    background-color: #272121;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-size: 100% 100%; */
    /* display: flex; */
 }
 
 