.postTile {
    margin-bottom: 3rem;
    /* border: 2px red solid; */
}

.homeFeed {
    color: #E8E8E8;
    background: #222222;
    font-family: 'Montserrat', sans-serif;
}

.homeFeedNone {
    color: #E8E8E8;
    background: #222222;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

.homeFeedMain {
    margin-top: 30px;
}

.createPostExpBox img {
    max-height: 15rem;
    max-width: 22rem;
}

.createPost {
    float: left;
    width: 100px;
    margin-left: 45px;
    margin-bottom: 10px;
}

.homeFeedPosts {
    margin-left: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.homeFeedEvents {
    position: fixed;
    margin-top: 68px;
    margin-left: 25px;
}

.homeFeedBody {
    display: flex;
    padding: 20px;
}

.inputPostBody {
    width: 400px;
    height: 200px;
}

.createPostSubmit {
    background: #3D3D3D;
    padding: 8px;
    border: solid 1px #E8E8E8;
    color: #E8E8E8;
    border-radius: 3px;
    margin-left: 170px;
    margin-top: 15px;
}

.createPostSubmit:focus {
    outline: 0;
}

.createPostSubmit:hover {
    background: #222222;
} 

.inputPostBodyCont{
    margin-top: 15px;
}