.profileMain {
  color: #E8E8E8;
  background: #222222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.profileInfo {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.profileLeft {
  justify-self: end;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.profileImgInput {
  position: fixed;
  top: -1000px;
}

.profileInputBtn {
  font-size: .7rem;
  padding: 2px;
  padding-bottom: 3px;
  color: #222222;
  width: 80px;
  background: #E8E8E8;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 175px;
}

.profileInputBtn:hover {
  cursor: pointer;
  background: rgba(232, 232, 232, 0.696);
}
.profileMid {
  padding-top: 35px;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
  align-content: center;
  max-height: 400px;
}

.profileMidBtns {
  display: flex;
  padding-left: 100px;
}

.profileBtn {
  padding: 4px;
  background: #E8E8E8;
  border-radius: 3px;
}

.profileBtn:hover {
  cursor: pointer;
  background: rgba(232, 232, 232, 0.696);
}

.profileBtn:focus {
  outline: 0;
}

.profileSave {
  margin-left: 15px;
}

.profileTitle {
  font-size: 1.6rem;
  font-weight: 100;
  padding-right: 475px;
  padding-bottom: 25px;
  position: relative;
  left: 172px;
}

.profile_input {
  color: #E8E8E8;
  border: none;
  background-color: #222222;
  outline: 0;
  font-size: 18px;
  width: 300px;
  height: 30px;
  opacity: 1;
}

/* .profileInfoDisplay {
  background: linear-gradient( #E8E8E8, #747474);
  opacity: .2;
} */

.profile_input:focus {
  color: #E8E8E8;
  border: none;
  background-color: #222222;
  outline: 0;
  width: 300px;
  height: 30px;
}

.profileImgPositioning {
  padding-left: 105px;
}
  
.profileImg {
  max-height: 20rem;
  max-width: 20rem;
  /* i need to adjust this to fix the stretching */
}

@media ( max-width: 420px ) {
  .profileInfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .profileMain {
    color: #E8E8E8;
    background: #222222;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
  }
  
  .profileLeft {
    margin-left: 15px;
  }
  
  .profileTitle {
    font-size: 1.6rem;
    font-weight: 100;
    padding-right: 240px;
    padding-bottom: 25px;
    position: inherit;
    left: 0px;
  }
  
  .profile_input {
    color: #E8E8E8;
    border: none;
    background-color: #222222;
    outline: 0;
    font-size: 18px;
    width: 300px;
    height: 30px;
  }
  
  .profile_input:focus {
    color: #E8E8E8;
    border: none;
    background-color: #222222;
    outline: 0;
    width: 300px;
    height: 30px;
  }
  
  .profileImg {
    max-height: 15rem;
    max-width: 15rem;
    padding-left: 0px
  }

  .profileInputBtn {
    font-size: .7rem;
    padding: 2px;
    padding-bottom: 3px;
    color: #222222;
    width: 80px;
    background: #E8E8E8;
    margin-top: 10px;
    border-radius: 3px;
    margin-left: 0px;
  }

  .profileBtn{
    color: #E8E8E8;
  }
}