.commentDisplay {
    display: flex;
}

.commentTitle {
    text-align: start;
}

.commentBody {
    text-align: start;
    font-size: .8rem;
    margin-top: 10px;
}

.commentUserInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.commentUserImg {
    padding-right: 70px;
}

.commentUserImg img{
    height: 2rem;
    width: 2rem;
}

.commentUserName { 
    font-size: .7rem;
    width: 100px;
    text-align: start;
}