
.navMain {
    background: rgb(18, 96, 18);
    /* border: 2px solid red;     */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
}

.navTitle{
    width: 30%;
    /* border: 2px solid red; */
}

.navLogo img {

    height: 5rem;
    width: 4rem;
    /* border: 2px solid red; */
}

.navLinks {
    /* position: fixed; */
    float: right;
}

.navLinks div {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: rgba(1, 44, 1, 0.812);
}

.navLinks div:hover {
    text-decoration: none;
    background-color: greenyellow;
}


