.navMain {
    background: #3D3D3D;
    /* border: 2px solid red;     */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.navBtn {
    display: none;
}

.logoutPosition {
    justify-content: flex-end;
}

.logoutBtn {
    background: none;
    border: none;
    color: #E8E8E8;
}

.navLogo {
    font-size: 1.7rem;
    text-decoration: none;
    color: #E8E8E8;
    /* border: 2px solid red; */
}

.userImgNavCont {
    height: 3rem;
    width: 3rem;
    min-width: 3rem !important;
    border-radius: 50%;
    overflow: hidden;
}

.userImgNav {
    max-height: 3rem !important;
}

.navLinks {
    /* position: fixed; */
    float: right;
}

.navLinks div {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: rgba(1, 44, 1, 0.812);
}

.navLinks div:hover {
    text-decoration: none;
    background-color: greenyellow;
}

@media ( max-width: 420px) {
    .navBtn {
        display: flex;
    }
}