.savedPostsNone {
    color: #E8E8E8;
    background: #222222;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

.savedPostsMain {
    color: #E8E8E8;
    background: #222222;
    font-family: 'Montserrat', sans-serif;
}