/* .postUserImg {
    height: 100%;
} */

.postUserImg img{
    max-height: 5rem;
    max-width: 5rem;
    float: left;
    margin-left: 5vw;
}

.postBtn {
    float: right;
    margin-right: 5vw;
}

.postUserName {
    float: left;
}

.postImg img{
    max-height: 15rem;
    max-width: 22rem;
}

.commentTile {
    margin: 2rem;
    /* border: 2px red solid; */
}
